<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img style="height:100%" src=public/images/book.png> BOOK STORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link active" aria-current="page" href="/"></i>Home</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="/wishlist"><i class="fa fa-heart position-relative">
                            <% if (user && wishcount){%>
                                <span id="wishlist-count"
                                    class="position-absolute top-25 translate-middle badge rounded-pill bg-dark">
                                    <%=wishcount%>
                                </span>
                                <%}%>
                        </i>
                    </a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart position-relative">
                            <% if (count){%>
                                <span id="cart-count"
                                    class="position-absolute top-25 translate-middle badge rounded-pill bg-dark">
                                    <%=count%>
                                </span>
                                <%}%>
                        </i>
                    </a>
                </li>

                <% if (user) { %>
                    <li class="nav-item dropdown rounded">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user.name%></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">My profile</a></li>
                            <li><a class="dropdown-item" href="/orders">My orders</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    <% } else {%>
                        <li class="nav-item dropdown rounded">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                <li><a class="dropdown-item" href="/register">Register</a></li>
                            </ul>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>