<% layout('./layouts/user-boilerplate') -%>
    <section class="py-3 py-md-5">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6 col-xl-5">
                    <img class="img-fluid rounded" loading="lazy" src="/public/images/brand-img.png" alt="About 1">
                </div>
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <h2 class="mb-3">Why Choose Us?</h2>
                            <p class="lead fs-4 text-secondary mb-3">We offer a diverse range of books, from bestsellers
                                to niche genres, ensuring that you'll always find something that piques your interest.
                            </p>
                            <p class="mb-5">We provide fast and reliable delivery services, ensuring that your books
                                reach your doorstep promptly. Our efficient delivery system is designed to fit
                                seamlessly into your busy schedule.</p>
                            <div class="row gy-4 gy-md-0 gx-xxl-5X">
                                <div class="col-12 col-md-6">
                                    <div class="d-flex">
                                        <div class="me-4 text-primary text-black">
                                            <i class="fa fa-credit-card"></i>
                                        </div>
                                        <div>
                                            <h2 class="h4 mb-3">Easy Payment</h2>
                                            <p class="text-secondary mb-0">Enjoy seamless transactions with our
                                                user-friendly digital payment methods, accessible across all devices.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex">
                                        <div class="me-4 text-primary text-black">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div>
                                            <h2 class="h4 mb-3">24/7 Support</h2>
                                            <p class="text-secondary mb-0">Our innovative support team is available
                                                around the clock to assist you with any inquiries or issues.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../layouts/user-footer-section') %>